body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 1.2rem;
    background-color: #426BF1;
    color: #ffffff;
    border: solid 2px #426BF1;;
    border-radius: 8px;

    width: 9rem;
    padding: 1rem;

    transition-duration: 0.5s;
    transition-timing-function: linear;
    text-wrap: nowrap;
}



.btn:hover{
    background-color: #ffffff;
    color: #426BF1;
    border: solid 2px;
    width: 9.5rem;
}

.btn:active {
    background-color: #ffffff;
    color: #426BF1;
    border: solid 2px;
    width: 16em;
}

.btn::after{
    opacity: 0;
    content: '';
}

.btn:active::after{
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: step-end;
    opacity: 1;
    content: ' - кнопка нажата';
}